.darkBG,
.lightBG {
  width: 100vw;
}
.darkBG {
  
  background-size: 800% 800%;
  color: #121829;

  -o-webkit-animation: darkGradient 11s ease infinite;
  -o-moz-animation: darkGradient 11s ease infinite;
  animation: darkGradient 11s ease infinite;
}
.lightBG {
  
  background-size: 600% 600%;
  color: #4f3d3f;

  -o-webkit-animation: lightGradient 8s ease infinite;
  -o-moz-animation: lightGradient 8s ease infinite;
  animation: lightGradient 8s ease infinite;
}
